/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 以上為Reset */

*,*:before,*:after{
box-sizing: border-box
} 

.wrap{
	background: #FBFBFB;
    max-width: 1920px;
	margin: 0 auto;
	flex-wrap: wrap;
	font-family: Noto Sans TC;
}

.menu{
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 90px;
}

.menu li{
    height: 42px;
	margin: 0 20px;
    text-align: center;
}

.menu li a{
	font-size: 28px;
	font-weight: bold;
  	padding: 10px 0;
  	color: black;
  	text-decoration: none;
  	display: block;
}

.menu li a:hover{
  	color: #4B4B4B;
}

.banner1 ul{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

img{
	width: 100%;
}

.b1-right, .b1-left, .b2-left, .b2-right{
	width: 50%;
}

.b1-right{
	position: relative;
}

.b1-text{
	position: absolute;
	color: #0027D5;
	line-height: 1.5;
	left: 10%;
	top: 33%;
}

.b1-text h1{
	font-size: 120px;
	font-weight: 900;
	margin-bottom: 10px;
}

.b1-text p{
	font-size: 28px;
	font-weight: 700;
}

.banner2 ul{
	display: flex;
	flex-wrap: wrap;
}

.b2-right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	width: 33%;
	line-height: 1.5;
	font-weight: 500;
}

.date{
	font-size: 16px;
}

.sub-title{
	font-size: 24px;
	color: #0027D5;
	margin-bottom: 8px;
	display: flex;
}

.latest{
	font-size: 16px;
	color: white;
	background: #0027D5;
	padding: 6px 12px;
	border-radius: 40px;
	margin-left: 8px;
}

.title{
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 8px;
}
.text{
	margin-bottom: 24px;
}

.text2{
	color: #4B4B4B;
	margin-bottom: 24px;
}

.read-more{
	color: #4B4B4B;
	border:1px solid #000000;
    padding: 8px 16px;
	border-radius: 40px;
	text-decoration: none;
}

.content{
    max-width: 1296px;
	margin: 0 auto;
	padding: 40px 0;
}

.search-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 416px;

}

.searchbar{
    width: 100%;
    border: 1px solid #4B4B4B;
    border-color: #4B4B4B;
    border-radius: 40px;
    padding: 16px 48px 16px 42px;
    font-size: 16px;
    font-weight: 500;
    outline: none;

}
.search-icon{
    width: 24px;
    position: absolute;
	left: 16px
}

.searchbar:focus {
    border-color: #0027D5;
    outline: none;
}

.blog-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.blog-content li{
	width: 416px;
	line-height: 1.5;
	font-weight: 500;
	padding: 40px 0;
	gap: 24px;
}

.page{
	background: white;
	width: 328px;
	border-radius: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 40px auto;
    padding: 8px 20px;
}

.page li{
	width: 40px;
}

.page a , .page span {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
	color: #000;
}

.page a:hover{
	color: #0027D5;
}

.footer{
	max-width: 1296px;
	margin: 0 auto;
}

.footer-top{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content:space-between ;
	padding: 80px 0;
}

.email a{
	font-size: 32px;
	color: #000;
	text-decoration: none;
}

.email a:hover{
	color: #4B4B4B;
}

.contact{
	display: flex;
}

.footer-bottom{
	padding: 24px 0;
	text-align: center;
}

@media (max-width:767px) 
{
	img{
		width: 100%;
	}
}